
nav{
	width: 100%;
	height: 8vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    font-family: "Roboto", sans-serif;
 
  }
  
  .container-kek{
   padding-right: 6.5rem;
  }
  
  .container-nav{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    
    --bs-gutter-x: 1.5rem;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)/ 2);
    padding-left: calc(var(--bs-gutter-x)/ 2);
    margin-right: auto;
    margin-left: auto;
    
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    
  }
  .navbar-brand{
  	font-weight: bold;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
    line-height: inherit;
    padding-left: 9.95rem;
  }
 
  
  nav a{
  color: #000000;
  }
  
  nav a:hover {
    color: #f04027;
  }
  
  .container-kek a {
  	padding-left: 12px;
    padding-right: 12px;
   
    text-decoration: none;
    color:#000000; 
}
	
 .navbar-collapse {
    background-color: #f04027;
    margin-top: 15px;
  }
  .navbar-light .navbar-nav .nav-link {
    padding: 10px 15px;
  }

  .navbar-light .navbar-nav .nav-link:hover {
    color: #f04027;
  }
  .navbar-light .navbar-toggler {
    border-color: #ffffff;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .navbar-toggler{
  padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow .15s ease-in-out;
  }

.dropdown-menu {
  border-top: 2px solid #f04027;
  min-width: 22rem;
  margin-top: 15px;
  padding: 10px 10px;
}

.dropdown-item:hover {
  background-color: #f04027;
  color: #ffffff;
}

.navbar-brand:hover{
	color: #000000;
}



